<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Album Cover Generator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@0.5.0/modern-normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="root">
        <div id="album" class="album">
            <span id="albumTitle" class="album__info">{{ album.title }}</span>
            <span id="albumArtist" class="album__info album__info--small">{{ album.artist }}</span>
        </div>
        <button id="newAlbumBtn" class="btn">New Album</button>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
