[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
mypy = "*"
coverage = "*"
pytest = "*"
python-dotenv = "*"

[packages]
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
